@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35.84px 130px 52.5px 135px;
}
.header{
    width: 100%;
    height: 586px;
    border: 1px solid #000;
    background: var(--color-green-100, #74C69D);
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
     
}
.list a{
    text-decoration: none;
    color: white; 
}
.img-logo{
    width: 70px;
    height: 48.311px;  
    margin-right: 18px;
}
.logo a{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 50px */
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
}
.list li a{
    color: var(--color-white-100, #FFF);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
/* Typography/Sub-Heading/Regular */
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */

}
.hero{
    display: flex;
    margin:0px 129.72px 82.87px 130px  ;
    gap: 120px;
    justify-content:space-between;
}
.left{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;   
}
.left span{
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 20px */
letter-spacing: 5px;
text-transform: uppercase;
margin-bottom: 15px;
}
.left h1{
    
 font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 50px */
margin-bottom: 15px;
width: 416px;
}
.left p{
color:  rgba(255, 255, 255, 0.75);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 18.75px */
margin-bottom: 25px;
width: 416px;
}
.left button{
width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
}
.left a{
color: #000;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
text-decoration: none;
}
.right img{
    width: 644.279px;
    height: 378.13px;
    flex-shrink: 0;
}
.section2{
    width: 100%;
    padding-top: 60px;

}
.box{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}
.section2 span{
    color:  #74C69D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 5px;
    text-transform: uppercase;
}
.images{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 68px;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
}
.google{
    width: 152.639px;
    height: 50px;
}
.microsoft{
    width: 210.852px;
    height: 45px;
}
.airbnb{
    width: 160.291px;
    height: 50px;
}
.facebook{
    width: 196.381px;
    height: 38px;
}
.spotify{
    width: 166.819px;
    height: 50px;
}
.box p{
    width: 411px;
    color: var(--Text_Black, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
}
.box h2{
    color: var(--Text_Black, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Crimson Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
  
}
.button2{
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #212529;
}
.button2 a{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    text-decoration: none;
}
.container{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 134px 0px 126px;
    
}
.box2{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;

}
.box2 h2{
    width: 462px;
    color: var(--color-dark-100, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Crimson Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    
}
.box2 p{
    width: 470px;
    height: 75px;
    color: var(--color-dark-50, rgba(33, 37, 41, 0.50));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 18.75px */
}
.button3{
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #212529;
}
.button3 a{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    text-decoration: none;
}

.container2{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 134px 0px 126px;
    
}
.box3{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;

}
.box3 h2{
    width: 462px;
    color: var(--color-dark-100, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Crimson Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    
}
.box3 p{
    width: 470px;
    height: 75px;
    color: var(--color-dark-50, rgba(33, 37, 41, 0.50));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 18.75px */
}
.section5{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 1176px;
    height: 599px;
    margin: 102px 128px 136px 179px; 
}
.box4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.container3 span{
    color: #74C69D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 20px */
    letter-spacing: 5px;
    text-transform: uppercase;
}
.container3 h2{
    color:  #212529;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Crimson Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
}
.container3 p{
    width: 404px;
    height: 60px;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
}
.box5{
    display: flex;
    align-items: flex-start;
    gap: 47px;
}

  